body {
	background: black;
	font-size: 15px;
}

* {
	font-family: "Gochi Hand", cursive;
	font-weight: 400;
	font-style: normal;
}
.postcard {
	background-color: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 50px;
	height: 50px;
	margin: 10px;
}
.postcard-header h1 {
	width: 330px;
	margin: auto;
	padding-left: 10px;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: 0;
}
.body-left,
.body-right {
	padding: 10px;
}
input {
	border: none;
	border-bottom: gray 1px solid;
	font-size: 15px;
}
.postcard-footer {
	text-align: center;
	margin: 0 auto;
}
button {
	background-color: darkgray;
	padding: 3px 10px;
	font-size: 15px;
}
